:root {
    --color-blue: #0061ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 70px;
    padding-top: 25px;
    padding-bottom: 50px;
}

h2 {
    font-size: 30px;
    padding-bottom: 40px;
}

h3 {
    font-size: 20px;
}

img {
    display: block;
    width: 100%;
}

.padding-30 {
    padding: 30px 0;
}

/* nav */
.navbar {
    display: flex;
    padding: 15px;
}

.nav-logo {
    width: 100px;
    padding: 10px;
}

.nav-link li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.nav-link a {
    text-decoration: none;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.button {
    border: none;
    padding: 10px;
    background-color: var(--color-blue);
    color: #ffffff;
}

/* main */
.container {
    max-width: 920px;
    margin: auto;
    padding: 50px;
}

.container-large {
    max-width: 1100px;
    margin: auto;
}

main .container-large {
    margin-bottom: 50px;
    position: relative;
    top: 50px;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.jumbotron {
    display: flex;
}

.jumbotron-text {
    flex-basis: 40%;
    padding-right: 25px;
}

.jumbotron-text p {
    padding-bottom: 25px;
}

.cancel {
    padding-top: 25px;
}

.arrow {
    font-size: 30px;
    padding-top: 70px;
}

.jumbotron-img {
    flex-basis: 60%;
}

/* griglia a 3 elementi */
.grid-plan {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.plan {
    flex-basis: 30%;
    border: 1px solid #D3D3D6;
    font-size: 13px;
}

.plan-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #D3D3D6;
    font-size: 14px;
}

.plan-body {
    padding: 30px 20px;
}

.plan-body .text {
    color: #98979A;
    font-size: 13px;
    padding: 10px 0;
}

.plan-list {
    list-style: none;
    padding-left: 20px;
}

.plan-list li {
    padding-bottom: 20px;
    position: relative;
    font-size: 11px;
}

.plan-list i {
    position: absolute;
    left: -20px;
    font-size: 13px;
}

.line {
    border: 1px solid #D3D3D6;
    width: 20%;
    height: 1%;
}

.plan-large{
    border: 1px solid #D3D3D6;
}

.plan-large .plan-body {
    display: flex;
    font-size: 13px;
}

.plan-body .description {
    flex-basis: 70%;
}

.plan-body .contact {
    flex-basis:30%;
    text-align: end;
}

/* sezione3 */
.row {
    display: flex;
}

.col-img {
    flex-basis: 60%;
}

.col-text {
    flex-basis: 40%;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 13px;
}

/* sezione4 */
.grid-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 30%;
    font-size: 13px;
    padding: 30px 0;
}

/* sezione6  */
.col-title {
    flex-basis: 50%;
}

.col-title  h2{
    padding-bottom: 0;
}

.col-button {
    flex-basis: 50%;
    text-align: end;
}

/* footer */
.container-footer {
    width: 1100px;
    margin: auto;
    color: #ffffff;
    padding: 50px;
}

.foot-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.foot-col li {
    list-style: none;
    padding-bottom: 15px;
}

.foot-col a {
    text-decoration: none;
    color: #D3D3D6;
    font-size: 13px;
}

.language {
    color: #999999;
    font-size: 13px;
}