:root {
    --color-primary: #0061ff;
    --color-secondary: #B4D0E7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-bottom: 50px;
}

footer {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 70px;
    padding-top: 25px;
    padding-bottom: 50px;
}

h2 {
    font-size: 30px;
    padding-bottom: 40px;
}

h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.block-img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
}

.col-30{
    flex-basis: 30%;
}

.col-70{
    flex-basis: 70%;
}

.col-40{
    flex-basis: 40%;
}

.col-60{
    flex-basis: 60%;
}

.padding-30 {
    padding: 30px 0;
}

/* nav */
.navbar {
    padding: 15px;
}

.nav-logo {
    width: 100px;
    padding: 5px;
}

.nav-link li {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}

.nav-link a {
    text-decoration: none;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.button {
    border: none;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 5px 15px;
}

.btn-large {
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.btn-large-white {
    padding: 10px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.btn-white {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: transparent;
}

/* main */
.container {
    max-width: 920px;
    margin: auto;
    padding: 50px;
}

.container-large {
    max-width: 1100px;
    margin: auto;
}

main .container-large {
    padding-top: 50px;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
}

.bg-lightblue {
    background-color: var(--color-secondary);
}

.jumbotron-text {
    padding-right: 25px;
}

.jumbotron-text p {
    padding-bottom: 25px;
}

.arrow {
    font-size: 30px;
    padding-top: 50px;
}

.jumbotron-img {
    flex-basis: 60%;
}

/* griglia a 3 elementi */
.input-text {
    padding-right: 50px;
}

.radio {
    display: none;
}

.radio-circle{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #D3D3D6;
    display: inline-block;
}

.radio:checked + .radio-circle{
    border: 3px solid var(--color-primary);
}

.grid-plan {
    justify-content: space-between;
}

.plan {
    border: 1px solid #D3D3D6;
    font-size: 13px;
}

.plan-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #D3D3D6;
}

.plan-body {
    padding: 30px 20px;
}

.plan-body .text {
    color: #98979A;
    padding: 10px 0;
}

.plan-list {
    list-style: none;
    padding-left: 20px;
}

.plan-list li {
    padding-bottom: 20px;
    position: relative;
    font-size: 13px;
}

.plan-list i {
    position: absolute;
    left: -20px;
}

.check-blue {
    color: var(--color-primary);
}

.line {
    border: 1px solid #D3D3D6;
    width: 20%;
}

.plan-large{
    border: 1px solid #D3D3D6;
    font-size: 13px;
}

.plan-body .contact {
    text-align: end;
}

/* sezione3 */
.col-text {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 13px;
}

.col-text h3 {
    padding: 0;
}

/* sezione4 */
.grid-card {
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    font-size: 13px;
}

/* sezione6 */
.company {
    padding-top: 50px;
}

.grid-company {
    max-width: 33.33%;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.grid-company div{
    max-width: 50%;
    flex-grow: 1;
    aspect-ratio: 1/1;
    padding: 4vw;
}

.row-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-green {
    background-color: #A2D39B;
    border: 10px solid #CFE8CC;
}

.box-brown {
    background-color: #61082B;
}

.box-blue {
    background-color: #0093CE;
}

.box-red {
    background-color: #FF1C1C;
}

.box-bordeaux {
    background-color: #D50020;
}

.box-lightblue {
    background-color: var(--color-secondary);
}

.box-nightblue{
    background-color: #0D2381;
}

.box-yellow {
    background-color: #FFD830;
}

.grid-company div img {
    filter: invert(1);
}

.designt-company {
    max-width: 33.33%;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    overflow: auto;
    padding: 40px;
    font-size: 13px;
    background-color: #D3D3D6;
}
.designt-company img {
    width: 150px;
    padding-bottom: 30px;
}

/* sezione7  */
.col-title {
    flex-basis: 50%;
}

.col-title  h2{
    padding-bottom: 0;
}

.col-button {
    flex-basis: 50%;
    text-align: end;
}

/* sezione8 */
.question {
    padding: 100px 50px;
}

.question h2,
.question-list div {
    border-bottom: 1px solid #D3D3D6;
}

.question-list div{
    position: relative;
}

.question-list i {
    font-size: 11px;
    position: absolute;
    top:50%;
    right:20px;
    transform:translate(-50%, -50%);   
}

/* footer */
.container-footer {
    color: #ffffff;
    padding: 50px;
}

.foot-row {
    justify-content: space-between;
    padding-bottom: 70px;
}

.foot-col li {
    list-style: none;
    padding-bottom: 15px;
}

.foot-col a {
    text-decoration: none;
    color: #D3D3D6;
    font-size: 13px;
}

.language {
    color: #999999;
    font-size: 13px;
}